# Cache folder
.vs/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/TicketTradingSystem.ilk
x64/Debug/TicketTradingSystem.log
x64/Debug/TicketTradingSystem.pdb
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Debug/TicketTr.C29607D2.tlog/CL.command.1.tlog
x64/Debug/TicketTr.C29607D2.tlog/CL.read.1.tlog
x64/Debug/TicketTr.C29607D2.tlog/CL.write.1.tlog
x64/Debug/TicketTr.C29607D2.tlog/TicketTradingSystem.lastbuildstate
x64/Debug/TicketTr.C29607D2.tlog/link.command.1.tlog
x64/Debug/TicketTr.C29607D2.tlog/link.read.1.tlog
x64/Debug/TicketTr.C29607D2.tlog/link.write.1.tlog
/input.zip
/utf8.zip
/TicketTradingSystem.zip
/x64/Debug
